.inputForm {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border: cadetblue 1px solid;
    margin:0px auto;
    width: 600px;
}

.inputForm .outerDiv {
    padding: .5em;
}

.inputForm label {
    font-size: 1em;
    margin: .5em;
    color: #181a19;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=text] {  
    font-size: .6em;
    padding: 1em;
    outline: 0;
    background: white;
    border: cadetblue 1px solid;
    border-radius: .2em;
    color: #444444;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05) inset;
    max-width: 80%;
}

.errorField {
    margin-top: 1em;
    margin-right: auto;
    color: red;
    font-size: 600;
}

.inputForm .submitBtn {
    outline: none;
    margin: 0.5em .5em;
    background: rgba(160,8,300,1);
    border: none;
    border-radius: .2em;
    padding: .2em .4em;
    color: #e8eeef;
    align-self: center;
    font-size: 1.3rem;
}

table {
    border-collapse: separate;
    border-spacing: 0px;
    font-size: .8em;
    background: white;
    color: #444444;
    max-width: 80%;
    font-size: .7em;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
table td {
    border: cadetblue 1px solid;
    padding: .15em;
    text-align: center;
}


thead tr:first-child td:first-child{
    border-top-left-radius: .2em;
}

thead td  {
    border-bottom: none;
    font-weight: 600;
}

tbody tr:last-child td:first-child{
    border-bottom-left-radius: .2em;
}

thead tr:first-child td:last-child{
    border-top-right-radius: .2em;
}

tbody tr:last-child :last-child{
    border-bottom-right-radius: .2em;
}

.buttonsArea {
    flex: 1;
}

textarea {
    min-height: 50%;
    min-width: 50%;
    border: cadetblue 1px solid;
    font-size: .1em;
    text-align: center;
    align-self: center;
    min-width: 50%;
    margin: 0;
    font-size: 1.1em;
    padding: 1em;
    outline: 0;
    background: #e8eeef;
    border-radius: .4em;
    color: #181a19;
    resize: none;
    margin:1em;
}


.attributes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    font-size: .7em;
    border: 1px solid cadetblue;
    grid-gap: 1px;
    background-color: white;
}

.attr {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.attr select  {
    margin-left: .2em;
}

.header {
    text-align: center;
}